<!DOCTYPE html> 
<html lang="en">    
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>login Artmash</title>
<link rel="icon" href="/Assets/favicon.png" type="image/png">
<link rel="stylesheet" href="login.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
<style>
    .passwordincorrect {
        text-align: center; /* Center the text horizontally */
    }
</style>
</head>
<body>
<div class="main">
    <div id="login-box">
        <div id="insta-long-img">
<img src="https://up.yimg.com/ib/th?id=OIP.4YR5xBC8_ackBLxu8D3JowHaEK&pid=Api&rs=1&c=1&qlt=95&w=174&h=97" alt="Instagram Logo">
</div>

<div id="user-pass-input">
    <form id="loginForm">
    <input type="text" id="username" placeholder="username" maxlength="75">
   <input type="password" id="password" placeholder="password" minlength="8">
    <button id="submit" type="submit" >log in</button>
    </form>
</div>

<div class="passwordincorrect">
    <p id="error" ></p>
</div>

<div class="orsec">
    <div id="or-line"></div>
    <p>OR</p>
    <div id="or-line"></div>
</div>

    </div>
    <div class="dontaccount">
        <p>don't have an account<br>
            <button id="createaccount-button" >
                <a href="makeid.html">create</a>
            </button>
        </p>
        
    </div>
</div>


<script src="login.js"></script>
</body>
</html>